.container{
    height: 100px;
    
}
.logo{
    height:95px;
}

.inputSearch{
    background-color: transparent;
    height: 50px;
    width: auto;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.button{
    margin: 5
}

@media (max-width: 1100px){
    .container{
        height: 70px;
    }
    .logo{
        height: 65px;
    }
}